main {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}
main h1 {
    padding-bottom: 14px; 
    font-size: 3.125rem; 
    font-weight: 700;
}
main > p {
    padding-bottom: 40px; 
    font-weight: 300;
}
/* p, vision 자간 공통 */
main > p, 
main .contents_bg > p,
main .contents_bg .vision h2 {
    letter-spacing: -0.2px;
}
main .contents_bg {
    padding-top: 40px;
    background-color: #F5F5F5;
}
main .contents_bg > p {
    padding-bottom: 30px;
    line-height: 30px;
}
main .contents_bg .vision {}
main .contents_bg .vision h2,
main .contents_bg .goal h2 {
    padding-top: 80px; 
    padding-bottom: 30px;
    color: #36B4E5; 
    font-size: 1.875rem;
}
main .contents_bg .vision p {
    line-height: 45px; 
    font-size: 2.188rem;
}
/* goal */
main .contents_bg .goal {}
main .contents_bg .goal h2 {}
main .contents_bg .goal .goal_contents {
    /* text-align:right; */
}
main .contents_bg .goal .goal_contents li {
    width: 250px; 
    height:250px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 67px;
    /* figma drop-shadow == css box-shadow */
    /* box-shadow:x축 y축 blur값 색상; */
    box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
    /* text-align:center; */
}
main .contents_bg .goal .goal_contents .li_1 {
    background-color: #36B4E5;
}
main .contents_bg .goal .goal_contents .li_2 {
    background-color: #fff;
}
main .contents_bg .goal .goal_contents .li_3 {
    background-color: #F3C300;
}
main .contents_bg .goal .goal_contents li .icon {
    padding-bottom: 20px;
}
main .contents_bg .goal .goal_contents li .icon img {
    width: 60px; 
    height: 60px;
}
main .contents_bg .goal .goal_contents li h3 {
    font-size: 1.56rem; 
    color: #fff;
    letter-spacing: -0.2px;
}
main .contents_bg .goal .goal_contents .li_2 h3 {
    color: #000;}