header {
    /* figma 1920(full) 1920px(X) 100%(O) */
    /* width: 100%;(block요소의 기본값) */
    /* min-width(320~360px), max-width(100%) */
    min-width: 360px; 
    height: 80px; padding: 0 16px;
    background-color: #000;
    display: flex; 
    flex-flow: row nowrap; /* 아이템(자식)의 정렬 방향 row */
    align-items: center; /* 교차축(수직)정렬 */
    justify-content: space-between;
}
header h1 {
    width: 301px; /* height: 40px; */
    /* img태그가 들어가는 부모요소에 크기 입력 시
    꼭 필요한 경우가 아니면 width, height 둘다 입력하지
    않고 width값만 입력하여 height값은 비율에 맞게 자동으로
    설정되게 처리한다. ex)height:auto;*/
}
header h1 a {}
header h1 a img {
    width: 100%;
    /* img태그는 inline태그여도 원본 이미지 px 고유값을
    가지고 있기 때문에 부모의 크기가 변경되도 상대값으로
    따라가지 않는다. */
}
header nav {}
header nav a {
    color: #fff; font-size: 1.25rem;
    margin-right: 24px;
}
header nav a:last-child {margin: 0;}
/* a 상태선택자 : (동적)마우스 올렸을 때 */
header nav a:hover {color: #bbb;}
header .snb {
    display: flex;
}
header .snb a:first-child {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 10px;
    line-height: 39px;
    margin-right: 24px;
}
header .snb a:last-child {
    width: 36px; /* display: inline-block; */
    /* display:inline-block; 부모가 flex 설정되면 생략가능 */
}
header .snb a img {
    width: 100%;
    filter: invert(1);
}
/* .snb a 상태선택자 */
header .snb a:first-child:hover {border-color: #ff0;}
header .snb a:last-child:hover img {filter: invert(1) opacity(50%);}
/* ===================main1. 영상, 시작하기 버튼위치 */
main {}
main .visual {
    height: 720px; overflow: hidden;
    /* border: 5px solid red; */
    position: relative;
}
main .visual video {width: 100%;}
main .visual .visual_title {
    /* background-color: green; */
    position: absolute; left: 0; top: 243px; 
    width: 100%; text-align: center;
    /* 겹치는 형제요소 디자인작업을 위한 absolute */
    /* 1. 겹치는 대상에 absolute 설정 후 부모확인을 위해
    left:0; top:0; 초기값 설정(부모의 왼쪽위로 배치) */
    /* 2. 배치된 위치가 원하는 부모 위치가 아닐 때
    -> 원하는 부모 대상에 position 추가 속성을 이용해서 부모설정하기 */
}
main .visual .visual_title h2 {
    font-size: 3rem; font-weight: 700; color: #fff;
    line-height: 1.2;
    margin-bottom: 40px;
}
main .visual .visual_title .start_link {
    background-color: #000; color: #fff;
    border-radius: 10px; width: 160px; line-height: 54px;
    display: inline-block;
}
main .visual .visual_title .start_link:hover {
    border-radius: 20px;
}
/* ===================main2 크리에이터 */
main .creater {
    width: 1300px;
    margin: 150px auto 0;
    text-align: center;
}
main .creater h2 {
    margin: 55px 0;
    font-size: 3rem;
    font-weight: 700;
}
main .creater .text {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 55px;
}
main .creater .bg {
    width: 697px;
    margin: 0 auto 55px;
}
main .creater .bg img {
    width: 100%;
}
main .creater .contents {
    display: flex;
    flex-flow: row nowrap;
}
main .creater .contents dl {
    width: calc(100% / 3);
}
main .creater .contents dl dt {
    font-size: 2rem;
    font-weight: 700;
}
main .creater .contents dl dd {
    font-size: 1.25rem;
    margin: 16px 0 0;
}
/* ===================3.제페토세상 */
main .world {
    background-color: #f5f5f5;
    padding: 150px 0;
    margin: 150px 0 0;
}
main .world section {
    width: 1300px; margin: 0 auto; text-align: center;
    /* background-color: aqua; */
}
main .world section h2 {
    font-size: 3rem; font-weight: 700;
}
main .world section > p {
    font-size: 1.25rem; line-height: 1.5; margin: 50px 0;
}
main .world section .wd_contents {
    /* border: 2px solid red; */
    padding: 0 16px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .world section .wd_contents li {
    background-color: #fff; /* border: 2px solid blue; */
    width: calc((100% / 3) - 20px); 
    /* 내용 높낮이가 서로 다르므로 높이 고정 */
    height: 350px;
    border-radius: 15px;
    padding-top: 66.5px;
}
main .world section .wd_contents li h3 {
    font-size: 1.5rem; font-weight: 700;
}
main .world section .wd_contents li p {
    margin: 40px 0; line-height: 1.7;
}
main .world section .wd_contents li .more {
    background-color: #000; color: #fff;
    line-height: 54px; padding: 0 25px; border-radius: 20px;
    display: inline-block;
}
/* =======================4.밀리언 */
main .million {
    background-color: yellow;
    width: 1300px; margin: 150px auto; text-align: center;
}
main .million h2 {
    font-size: 3rem; font-weight: 700;
}
main .million p {
    font-size: 1.25rem; line-height: 1.5;
    margin: 50px 0;
}
main .million .million_img {
    background-color: lime;
    padding: 0 16px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .million .million_img img {
    width: 240px;
}