main {}
/* 배경 공통&개별값 */
main .bg {
    background-position: center;
    background-repeat: no-repeat;
}
main .bg1 {
    background-image: url(../images/bg.jpg);
    height: 1005px;
}
/* ------------------1.표지 */
main .bg1 section {
    width: 1250px; margin: 0 auto;
    /* background-color: tomato; */
}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    text-align: center;
    font-size: 4.375rem;
    line-height: 1.2;
    letter-spacing: -0.2px;
    color: #fff;
    margin: 148px 0 45px;
}
main .bg1 section h2 em {
    font-weight: 700;
}
main .bg1 section .sponsor_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 10px;
}
main .bg1 section .sponsor_link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2.125rem;
    font-weight: 700;
    /* 0% #fe9300, 100% #ff7300 */
    /* CSS 회전각도단위 deg */
    background: linear-gradient(90deg, #fe9300, #ff7300);
    /* gradient적용을 위해 background통합속성을 사용했을 때
    해당 요소 추가 배경이미지를 꾸미기 원한다면 
    가상선택자(before,after)를 활용하는것을 권장한다. */
    width: 409px; height: 71px;
    /* line-height: 71px; */ 
    border-radius: 50px;
    /* text-align: center; */
    color: #fff;
}
main .bg1 section .sponsor_question {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: #050505;
    color: #fff;
    width: 417px; height: 42px;
/*     text-align: center;
    line-height: 42px; */
    border-radius: 50px;
    font-size: 1.625rem;
    margin-top: 240px;
}
main .bg1 section .sponsor_question::before,
main .bg1 section .sponsor_question::after {
    content: '';
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px; 
    height: 24px;
    background-size: 24px;
}
main .bg1 section .sponsor_question::before {
    background-image: url(../images/icon_sms.svg);
    margin-right: 10px;
}
main .bg1 section .sponsor_question::after {
    background-image: url(../images/btn_right_arrow.svg);
    margin-left: 10px;
}
/* ---------------------퀴즈 */
main .bg2 {
    background-image: url(../images/bg_2.jpg);
    height: 500px;
}
main .bg2 section {
    display: flex;
}
main .bg2 section > * {
    flex: 1; /* width: 50%; */
}
main .bg2 section #quiz_frm {
    /* background-color: aqua; */
    /* padding: 54px 0 55px; */
}
main .bg2 section #quiz_frm .quiz_contents {
    margin-left: 335px;
}
main .bg2 section #quiz_frm .quiz_contents h2 {
    font-size: 3.438rem;
    letter-spacing: -0.1px;
    font-weight: 600;
    margin-top: 54px; margin-bottom: 48px;
    width: 450px; text-align: center;
}
main .bg2 section #quiz_frm .quiz_contents h2+p {
    font-size: 1.25rem; line-height: 1.7;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list {
    margin-bottom: 15px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li {
    margin-bottom: 20px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li:last-child {
    margin: 0;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q] {
    display: none;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li label {
    background-image: url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat;
    padding-left: 48px; line-height: 30px;
    display: inline-block;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p {
    margin: 0 0 55px;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p #answer_btn {
    background-color: #050505; color: #fff;
    border-radius: 50px; width: 450px; line-height: 39px;
    border: none;
}
/* 퀴즈 인풋 체크 활성화 라벨디자인 */
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q]:checked + label {
    background-image: url(../images/quiz_checked.svg);
}
/* 퀴즈2-2 */
main .bg2 section .quiz_participation {
    /* background-color:brown; */
    padding-top: 138px;
    display: flex; flex-flow: column wrap;
    align-items: flex-end;
}
main .bg2 section .quiz_participation .status {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
}
main .bg2 section .quiz_participation .status h2 {
    background-color: #fe9300;
    font-size: 1.625rem; color: #fff;
    /* text-align: center; */ line-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg2 section .quiz_participation .status h2::before {
    background-image: url(../images/icon_person.svg);
        /* 비포&애프터에 반드시 들어가는 속성 4가지 */
    content: ''; display: inline-block;
    width: 42px; height: 42px;
}
main .bg2 section .quiz_participation .status .contents {
    background-color: #fff; text-align: center;
    padding: 38px 0;
}
main .bg2 section .quiz_participation .status .contents em {
    font-size: 4.375rem; font-weight: 700; letter-spacing: -0.2px;
    color: #ff9300;
}
main .bg2 section .quiz_participation .status .contents span {
    color: #fe9300;
}
main .bg2 section .quiz_participation .status .contents span,
main .bg2 section .quiz_participation .status .contents strong {
    font-size: 2.125rem; font-weight: 700;
}
main .bg2 section .quiz_participation .status .contents strong {}
main .bg2 section .quiz_participation p {
    margin-top: 18px; font-size: 1.25rem;
    color: #fff;
}