main {
    background-color: #000;
}
main .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .bg1 {
    background-image: url(../images/Mask_group.png);
    height: 1000px;
}
main .bg1 section {
    width: 1250px;
    margin: 0 auto;
}
main .bg1 section h1 {
    color: #fff;
    font-size: 4.375rem;
    font-weight: 700;
    padding-top: 183px;
    line-height: 120%;
}
main .bg1 section .logo_3d {
    float: right;
}
main .bg1 section h2 {
    padding-top: 50px;
}
main .bg1 section h2 > img {}
main .bg1 section .store {
    margin-top: 52px;
}
main .bg1 section .play_store {}
main .bg1 section .app_store {
    padding-left: 36px;
}
main .bg2 {
    background-color: #2D47B8;
    height: 1000px;
    background-image: url(../images/bg_2.png);
}
main .bg2 section {
    width: 1250px; margin: 0 auto;
    display: flex;
}
main .bg2 section #quiz_frm {}
main .bg2 section #quiz_frm .quiz_contents {
    color: #fff;
}
main .bg2 section #quiz_frm .quiz_contents h2 {
    color: #1DD660;
    font-weight: 700;
    font-size: 3.438rem;
    margin-top: 164px;
}
main .bg2 section #quiz_frm .quiz_contents p {
    margin-top: 30px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 120%;
}
main .bg2 section #quiz_frm .quiz_list {}
main .bg2 section #quiz_frm .quiz_list li {
    font-size: 1.625rem;
}
main .bg2 section #quiz_frm .quiz_list li input[type=radio] {
    display: none;
}
main .bg2 section #quiz_frm .quiz_list li input[type=radio] + label {
    display: inline-block;
    background-image: url(../images/check_box_outline_blank.svg);
    background-repeat: no-repeat;
    padding-left: 58px;
    line-height: 48px;
}
main .bg2 section #quiz_frm .quiz_list li input[type=radio]:checked + label {
    background-image: url(../images/check_box.svg);
}
main .bg2 section #quiz_frm .quiz_list li label {
    margin-top: 40px;
}
/* main .bg2 section #quiz_frm .quiz_list li label:last-child {
    margin-top: 0;
} */
main .bg2 section #quiz_frm .quiz_contents p button {
    background-color: #1DD660;
    border: none;
    width: 648px;
    height: 71px;
    border-radius: 30px;
    color: #fff;
}
main .bg2 section .quiz_artist {
    display: flex;
    margin-top: 100px;
}
main .bg2 section .quiz_artist img {}
/* ----------------------pg_3 */
main .bg3 {
    height: 1000px;
}
main .bg3 section {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 250px;
}
main .bg3 section .video_text {
    display: flex;
    flex-flow: column;
    /* padding-top: 250px; */
}
main .bg3 section .video_text h2 {
    margin-bottom: 76px;
}
main .bg3 section .video_text h3 {
    font-size: 4.375rem;
    font-weight: 700;
    line-height: 1.2;
}
main .bg3 section iframe {
    /* margin-top: 250px; */
}
/* ================pg.4 */
main .bg4 {
    height: 1000px;
}
main .bg4 section {
    width: 1250px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
main .bg4 section h2 {
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 183px;
}
main .bg4 section h3 {
    margin: 50px 0 154px;
    font-size: 2.25rem;
}
main .bg4 section a {
    background-color: #1DD660;
    width: 266px; line-height: 71px;
    display: inline-block;
    border-radius: 30px;
    font-size: 2.125rem;
    font-weight: 700;
    color: #fff;
}
main .bg4 section p {
    margin-top: 153px;
    line-height: 1.5;
}
main .bg4 section p span {
    color: #fAff00;
}
/* =========================pg-5 */
main .bg5 {
    height: 1000px;
}
main .bg5 section {
    width: 1250px;
    margin: 0 auto;
    color: #fff;
    display: flex;
}
main .bg5 section img {
    margin: 224px 0 48px;
}
main .bg5 section .text {}
main .bg5 section .text h2{
    font-size: 3.438rem;
    font-weight: 700;
    text-align: right;
    padding-top: 224px;
}
main .bg5 section .text p{
    font-size: 1.75rem;
    text-align: right;
    padding-top: 23px;
    line-height: 1.5;
}
/* ====================pg-6 */
main .bg6 {
    height: 1000px;
    background-color: #1c1c1c;
}
main .bg6 section {
    width: 1250px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
main .bg6 section .text {
}
main .bg6 section .text h2 {
    font-size: 3.438rem;
    font-weight: 700;
    padding-top: 282px;
}
main .bg6 section .text p {
    font-size: 1.75rem;
    padding-top: 43px;
    line-height: 1.5;
}
main .bg6 section img {
    padding-top: 282px;
}
/* ======================pg-7 */
main .bg7 {
    height: 1000px;
}
main .bg7 section {
    width: 1250px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
main .bg7 section img {
    padding-top: 61px;
}
main .bg7 section .text {}
main .bg7 section .text h2 {
    font-size: 3.438rem;
    font-weight: 700;
    padding: 383px 0 18px;
}
main .bg7 section .text p {
    font-size: 1.75rem;
    line-height: 1.5;
}
/* ======================pg-8 */
main .bg8 {
    background-color: #1c1c1c;
    height: 1000px;
}
main .bg8 section {
    width: 1250px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
main .bg8 section {}
main .bg8 section h2 {
    font-size: 3.438rem;
    font-weight: 700;
    padding: 100px 0 34px;
}
main .bg8 section p {
    font-size: 1.75rem;
    padding-bottom: 34px;
}
main .bg8 section img {}
/* =-===================pg-9 */
/* =-===================pg-10 */
/* =-===================footer */