/*#03c75a*/
main {
    font-family: "Noto Sans KR", "맑은 고딕", sans-serif;
}
main h1,
main h1 span {
    font-size: 3.125rem;
    font-weight: 700;
}
main h1 {
    line-height: 1.2;/* 120% */
    letter-spacing: -0.4px;/* -4% */
    padding-bottom: 48px;
}
main h1 span {
    color: #03c75a;
}
main p {
    letter-spacing: 0.4px;
}
main .first {
    font-size: 1.5rem; line-height: 1.2;
    padding-bottom: 48px;
}
main .second {
    font-size: 1.25rem; line-height: 1.7;
    padding-bottom: 50px;
}
main p .user {
    font-size: 1.5rem; color: #03c75a;
}
main p a {
    font-size: 1.25rem; text-decoration: underline;
}
main h2 {
    font-size: 1.563rem;
    padding-bottom: 22px;
}
main h2 span {
    font-size: 1.25rem;
}
/* table */
main .list {
    border-top: 3px solid #000;
    width: 930px;
}
main .list thead {
    background-color: #f5f5f5;
}
main .list thead tr {}
main .list thead tr th {}
main .list tbody {
/*     border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa; */
    border: 1px solid #aaa;
    border-left: 0; border-right: 0;
}
main .list tbody tr {}
main .list tbody tr td {}
main .list tbody tr td em {
    color: #03c75a;
}
/* main .list thead tr .align,
main .list tbody tr .align {
    text-align: center;
} */
main .list tr .align {
    text-align: center;
}
main .list tr * {
    padding-top: 15px;
    padding-bottom: 15px;
}
main .detail_view {
    background-color: aqua;
    font-size: 1.25rem;
    display: block;
    text-align: center;
}
main .btm {
    padding-top: 165px;
}
main .btm a {}