/* HTML초기화용 */
* {box-sizing: border-box;}
body,html,
h1,h2,h3,h4,h5,h6,
p,ul,ol,li,dl,dt,dd,table,tr,td,th,thead,tbody,tfoot,
div,header,nav,aside,article,section,footer,figure,
address,blockquote,video,iframe,hr,
span,em,strong,q,a,sub,sup,details,figcaption,summary,
time,s,del,code,mark,img {
    font-size: 1.0em; /*부모의 크기만 변경해도 자식, 자손의 글자 크기가 함께 변경되는 상대값 em설정*/ 
    font-weight: normal;
    font-style: normal;
    line-height: 1.0; margin: 0; padding: 0;
}
a {color:#000; text-decoration: none;}
ul,ol,li {list-style: none;}
table, tr, td ,th {border-collapse: collapse;}
th {text-align: left;}