main {
    font-family: "Noto Sans KR", sans-serif;
    width: 1024px;
    margin: 200px;
}
main .t1 {
    width: 1024px;
    background-color: #d9d9d9;
    border-radius: 20px;
}
main .t1 thead {
    background-color: #f06;
}
main .t1 thead tr {}
main .t1 thead tr th {
    text-align: center;
    border: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    padding: 20px 50px;
    color: #fff;
    font-size: 1.25em;
}
main .t1 thead tr th:nth-child(1) {
    border-top-left-radius: 20px;
}
main .t1 thead tr th:nth-child(5) {
    border-top-right-radius: 20px;
}
main .t1 tbody {}
main .t1 tbody tr {}
main .t1 tbody tr th {
    border: 1px solid #fff;
    border-left: 0;
    padding: 15px 0 15px 20px;
}
main .t1 tbody tr td {
    border: 1px solid #fff;
    text-align: center;
}
main .t1 tbody tr:nth-child(2) {
    color: #f06;
    background-color: #aaa;
    border: 2px solid #f06;
    /* outline: 1px solid #f06; */
}
main .t1 tbody tr:nth-child(4) {
    background-color: #aaa;
}