h1 {background-color: aqua;}
.test_box {}
.test_box h1 {}
.test_box h2 {}
.test_box h3 {}
.test_box h4 {}
.test_box #title1 {}
.test_box #title2 {}
.test_box p {color: blue;}
.test_box blockquote {}
.test_box p span {color: blueviolet;}
.test_box p q {}
.test_box p code {}
.test_box p sup {}
.test_box p sub {}
.test_box .test1 {}
.test_box .test2 {}
.test_box .test3 {}
.test_box .test4 {}
.test_box #wrap p {}
.header h1 {}
.header form {}
.header form input {}
.header a {}
.box {}
.box a span {}
.box .contents {}
.box .contents p {}
.box .img img {}
.main {}
.main aside {}
.main aside h2 {}
.main aside ul {}
.main aside ul li {}
.main aside ul .last a {}
.main section {}
.main section .top {}
.main section .top h1 {}
.main section .top p {}
.main section .article {}
.main section .article p {}
#t {}
#t thead {}
#t thead tr {color: aqua;}
#t thead tr th {}
#t tbody {}
#t tbody tr {color: aqua;}
#t tbody tr td {color: brown;}
#t tbody td span {color: chartreuse;}
#t tfoot {background-color: red;}
#t tfoot tr {background-color: cadetblue;}
#t tfoot tr th {color: blue;}
#t tfoot tr td em {color: brown;}